@font-face {
  font-family: 'Brittany';
  src: url('/fonts/Brittany.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --brand-navy:#263B50; --brand-cream:#F3EDE0; }
.container-xl { @apply max-w-6xl mx-auto px-4; }
